.vscode
.Rproj.user
.Rproj*
.html
data/*
model_data/
testing/*
.ipynb_checkpoints/
__pycache__/

Notes/*
logs/
*.xlsx
*.Rhistory
medical_head.txt
pharmacy_head.txt
.venv/
.venv311/
__pycache__/
*.pyc
model_data/
